body {
    margin: 0px;
     background-color: #1E1E4A;
}

.titulo {
    font-size:30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.logocentro{
  margin: auto;
  width: auto;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
.partedecima {
    width: fit-content;
    height: 100px;
    background-color: #1E1E4A;
    margin: auto;
}

.logo {
    width: 100px;
}

.logo2 {
    width: 70px;
}


.partedomeio {
    width: auto;
    height: auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #1A2349;
    display: flex;
    flex-wrap: wrap;
}

.basemusica {
    width: 220px;
    height: 340px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin:40px;
    margin-bottom: 50px;
}



.imgmusica {
    width: 200px;
    height: 200px;
    margin: auto;
}

.titulomusica {
   font-size:16px;
   height: 50px;
   background-color: tomato;
   line-height: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btnplay {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-image: url("/imagens/play-music.png");
    cursor: pointer;
    font-size: 20px;
}

.base-btn{
    background-color: tomato;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 3px;

    border-radius: 50%;
    width: 50px;
    margin: auto;
}
.base-btn:hover{
  
   padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
      
}

.musicaplayer {
  background-color:tomato;
    display: flex;
    flex-wrap: wrap;
    position:fixed;
    left: 20%;
    bottom: 0%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

.textomusica {
    font-size:15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.playerbase {
    width: 800px;
    height: 55px;
    margin-left: 10px;
    margin-top: 10px;
}

.playerpadrao {
    width: 1200px;
    height: 55px;
    margin-left: 10px;
    margin-top: 8px;

}



.imgdamusica {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding:2px;
    margin: 10px;
    border-radius: 5px;
    background-color: white;
    font-size: 13px;
    text-align: center;
   font-weight: bold;
}

.espaçocriado {
    width: auto;
    height: auto;
}

.add_btn,
.rr_btn {
    width: 80px;
    height: 30px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid silver;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.voltarmsc {
    border-radius: 0px 20px 20px 0px;
    width: 56px;
    height: 56px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-image: url("/imagens/btn.png");
    transform: scaleX(-1);
          
}

.seguirmsc {
    border-radius: 0px 20px 20px 0px;
    width: 56px;
    height: 56px;
       cursor: pointer;
    margin-right: 20px;
    background-image: url("/imagens/btn.png");
    
}

.voltarmsc:hover {
    background-color: silver;
}

.seguirmsc:hover {
    background-color: silver;
}


@media screen and (min-width:300px) {
  
.partedomeio{
        height: auto;
      }
     
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
          width: 99%;
    }
    .playerbase{
            width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
  }
  
@media screen and (min-width:400px) {
      .partedomeio{
        height: auto;
      }
     
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
         width: 99%;
    }
    .playerbase{
              width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
 
  }

  @media screen and (min-width:500px) {
      .partedomeio{
        height: auto;
      }
      .imgdamusica{
        display: flex;
      }
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
         width: 99%;
    }
    .playerbase{
          width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
 
  }

  @media screen and (min-width:626px) {
      .partedomeio{
        height: auto;
      }
         .imgdamusica{
        display: flex;
      }
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
          width: 99%;
    }
    .playerbase{
   width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
 
  }
@media screen and (min-width:700px) {
      .partedomeio{
        height: auto;
      }
         .imgdamusica{
        display: flex;
      }
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
       width: 99%;
    }
    .playerbase{
      width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
 
  }

  @media screen and (min-width:900px) {
      .partedomeio{
        height: auto;
      }
         .imgdamusica{
        display: flex;
      }
      .logo2{
        display: flex;
      }
      .imgdamusica{
        display: none;
      }
      .musicaplayer{
        left:0%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
           width: 99%;
    }
    .playerbase{
       width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
 
  }



@media screen and (min-width:1366px){
   .musicaplayer{
        left:23%;
        border-radius: 0px;
        display: flex;
        flex-wrap: nowrap;
         width: 50%;
         border-radius: 40px;
    }
     .imgdamusica{
        display: flex;
      }
    .playerbase{
       width: 100%;
        margin-left: 0px;
    }
      .voltarmsc{
        margin-left: 0px;
        margin-right: 4px;
      }
      .seguirmsc{
        margin-right: 10px;
      }
}


#image1{
    background-image: url("/imagens/logo-1.jpg");
    
}
#image2{
    background-image: url("/imagens/logo-2.jpg");
}
#image3{
    background-image: url("/imagens/logo-3.png");
}
#image4{
    background-image: url("/imagens/logo-4.png");
}
#image5{
    background-image: url("/imagens/logo-5.png");
}
#image6{
    background-image: url("/imagens/logo-6.png");
}
#image7{
    background-image: url("/imagens/logo-7.png");
}
#image8{
    background-image: url("/imagens/logo-8.png");
}
#image9{
    background-image: url("/imagens/logo-9.png");
}
#image10{
    background-image: url("/imagens/logo-10.png");
}
#image11{
    background-image: url("/imagens/logo-11.png");
}

#image12{
    background-image: url("/imagens/logo-12.png");
}
#image13{
    background-image: url("/imagens/logo-13.png");
}

#image14{
    background-image: url("/imagens/logo-14.png");
}
